div {
	display: inline-block;
	border: 1px solid black;
	height: 64px;
	width: 64px;
}


/* 0 */
.black {
	color: black;
}

/* 1 */
.red {
	color: red;
}

/* 2 */
.blue {
	color: blue;
}

/* 3 */
.green {
	color: green;
}

/* 4 */
.brown {
	color: orange;
}

/* 5 */
.yellow {
	color: yellow;
}